/* Color */
:root {
  --Verydarkblue: hsl(233, 47%, 7%);
  --Darkdesaturatedblue: hsl(244, 38%, 16%);
  --Softviolet: hsl(277, 64%, 61%);
  --transparentviolet: hsla(277,64%,61%, 0.2);
  --White: hsl(0, 0%, 100%);
  --Slightlytransparentwhite: hsla(0, 0%, 100%, 0.6);
}
/* FONTS 
 Font size: 15px
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

body{
  background-color: var(--Verydarkblue);
}

.preview-container{
  display: flex;
  width: 75%;
  background-color: var(--Darkdesaturatedblue);
}

.left-section{
  width: 50%;
  padding: 1em;
}

.left-section h1a

.right-section{
  padding: 0;
}
