/* Color */
:root {
  --Verydarkblue: hsl(233, 47%, 7%);
  --Darkdesaturatedblue: hsl(244, 38%, 16%);
  --Softviolet: hsl(277, 64%, 61%);
  --transparentviolet: hsla(277, 52%, 52%, 0.205);
  --White: hsl(0, 0%, 100%);
  --Slightlytransparentwhite: hsla(0, 0%, 100%, 0.6);
}
/* FONTS 
font size: 15px
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

body {
  background-color: var(--Verydarkblue);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  background-color: var(--Darkdesaturatedblue);
  border-radius: 10px;
}

.preview-container {
  display: flex;
}
/* Left Side on Desktop, bottom on Mobile */
.left-section {
  color: var(--White);
  padding: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  max-width: 75%;
  margin: auto;
}

.description h1 {
  font-size: 2rem;
}

/* all paragraphs under description */
.description p {
  color: var(--Slightlytransparentwhite);
  margin: 20px 0;
  font-size: 0.8rem;
}

.description b {
  color: var(--Softviolet);
}

.grid {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}

.grid h2 {
  font-size: 1rem;
}

.grid p {
  margin: 5px 0;
  font-family: "Lexend Deca", sans-serif;
}
/* Image side */

.right-section {
  width: 50%;
  background-color: var(--Softviolet);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.right-section img {
  opacity: 0.7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 720px) {
  .container {
    height: min-content;
    margin: auto;
  }

  .preview-container {
    flex-direction: column-reverse;
  }
  .left-section {
    width: 100%;
    height: 60%;
  }

  .description {
    text-align: center;
    max-width: 90%;
  }

  .description h1{
    font-size: 1.5rem;
  }

  .grid {
    flex-direction: column;
    margin-top: 0;
  }

  .grid-columns {
    margin: 10px auto;
  }

  .right-section {
    width: 100%;
    height: 30%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
  }
  .right-section img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
  }
}
